<ion-content>
  <h1 id="titulo">CIGARROMETRO</h1>
  <ion-item>
    <ion-label>Qtd de cigarros/dia:</ion-label>
  <ion-input type="number" [(ngModel)]="cigarrosPorDIa" placeholder="Ex: 5"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Qtd anos fumando:</ion-label>
<ion-input type="number" [(ngModel)]="anosFumando" placeholder="Ex: 10"></ion-input>
</ion-item>
<ion-button (click)="calcular()" id="botao">CALCULAR</ion-button>
<h3>VOCÊ PERDEU:</h3>
<h1>{{diasPerdidos.toFixed(0)}} Dias</h1>
<img src="../../assets/ci.jpg" alt="" id="img">
</ion-content>