h3{
  color: white;
  font-size: 30px;
}

#titulo{
  font-size: 35px;
  margin-top: 10px;
}

h1{
  color: white;
  font-size: 50px;
}

ion-content{
  text-align: center;
  --padding-top: 24px;
  --padding-start: 24px;
  --padding-end: 24px;
  --background: rgb(35, 35, 223) url('../../assets/OIP.jpg');
  border: 5px solid black;
}

ion-item{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 15px 0;
  border-radius: 10px;
}

ion-button{
  --background: red;
  --background-activated: #f2f2f2;
}

#img{
  margin-top: 25px;
}

#botao{
  margin-top: 25px;
  font-size: 23px;
  margin-bottom: 10px;
}